/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Generelt */
body {
  font-family: "Inter", sans-serif;
  background-color: #fdfdfd;
}

main {
  margin: 0 auto;
  width: 90vw;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
p {
  font-size: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
}

header {
  margin-bottom: 3rem;
  background-color: #181715;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #aa1c1a;
}

nav {
  align-self: center;
  padding-right: 2rem;
}

nav a {
  font-size: 1.2rem;
  color: #fdfdfd;
  margin-left: 1.5rem;
  font-weight: 400;
}

nav a:hover {
  text-decoration: underline;
}

.logo_type:hover {
  transform: scale(1.02);
}

.logo_type {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;

  padding: 2rem;
  color: #fdfdfd;
  font-weight: 500;
}

.logo_type span {
  color: #aa1c1a;
}

footer {
  margin-top: 3rem;
  background-color: #e8e8e8;
}

#gray_footer {
  display: flex;
  justify-content: space-between;
}

#gray_footer h1,
#gray_footer a {
  color: #181715;
}

.socials {
  padding: 1rem 1rem 1rem 2rem;
  background-color: #181715;
  border-top: solid 3px #aa1c1a;
}

.socials span {
  color: #aa1c1a;
  text-align: center;
  font-weight: 700;
  background-color: #fdfdfd;
  border-radius: 100%;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  margin-right: 1rem;
}

/* Index */

.hero_wrap {
  width: 90vw;
  height: 50vw;
  margin-bottom: 1rem;
  border: #181715 solid 1px;
  display: grid;
}

.hero_wrap,
.hero_wrap img,
.hero_wrap h2 {
  grid-column: 1;
  grid-row: 1;
}

.hero_wrap h2 {
  z-index: 2;
  place-self: center;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.hero_wrap img {
  object-fit: cover;
  object-position: center 75%;
  opacity: 75%;
  filter: grayscale(1);
  width: 90vw;
  height: 50vw;
}

.hero_wrap .soldout_text {
  place-self: center;
  transform: translateY(100px);
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.category_wrap {
  background-color: #e8e8e8;
  border: solid 1px #181715;
  padding: 4rem 3rem 4rem 3rem;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 1;
}

.category_card:hover {
  transform: scale(1.02);
}

.category_card {
  color: #fdfdfd;
  font-size: 1.4rem;
  background-color: #181715;
  padding: 0.5rem 1rem;
  text-align: center;
}

.blue {
  background-color: #fdfdfd;
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-around;
  border: solid 1px #181715;
}

.blue h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.blue img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center top;
  max-width: 33vw;
  border: solid 3px #aa1c1a;
}

.blue_text {
  order: -1;
  max-width: 33vw;
  margin: auto 0;
}

.blue_text p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Productlist */

.btns {
  display: flex;
  justify-content: left;
  margin-top: 3rem;
}

#filter button,
#sort button {
  margin: 1rem 1.4rem 3rem 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#filter button:hover,
#sort button:hover {
  text-decoration: underline;
}

#filter p,
#sort p {
  font-size: 1.1rem;
}

#sort {
  margin-left: 2rem;
}

.price {
  display: flex;
}

.price_after {
  color: #aa1c1a;
  font-size: 1.1rem;
}

.product_card:hover {
  transform: scale(1.02);
}

.product_card {
  border: solid #181715 1px;
  padding: 1.2rem;
}

.product_card h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.hide {
  display: none;
}

.price_before {
  text-decoration: line-through;
  color: gray;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.img_wrap {
  display: grid;
}

.img_wrap img,
.soldout_text,
.sale {
  grid-column: 1;
  grid-row: 1;
}

.soldout {
  opacity: 80%;
  filter: brightness(40%);
}

.soldout_text,
.sale {
  color: #fdfdfd;
  font-size: 1.5rem;

  font-weight: 400;
}

.soldout_text {
  background-color: #18171580;
  place-self: center;
  z-index: 2;
  padding: 0.5rem 2rem;
}

.sale {
  place-self: start;
  background-color: #8c0001;
  z-index: 3;
  padding: 0.2rem 1rem;
  margin: 1rem;
}

.subtle {
  color: gray;
  margin-top: 0.3rem;
  font-size: 1.1rem;
}

.list_grid {
  display: grid;
  gap: 2rem;
}

/* Product */

#detail_img,
.details {
  border: #181715 solid 1px;
  padding: 1.2rem;
  margin-top: 3rem;
}

.to_cart {
  display: flex;
  justify-content: flex-start;
}
.to_cart p {
  background-color: #181715;
  color: #fdfdfd;
  place-self: center;
  z-index: 2;
  padding: 0.5rem 2rem;
  margin: 1rem 1rem 1rem 0;
}

.to_cart .stock {
  color: black;
  background-color: white;
  border: black solid 1px;
}

.btn:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.back {
  font-size: 1.2rem;
  text-decoration: underline;
}

.back:hover {
  font-weight: 500;
}

main .wrap {
  margin-top: 1rem;
}

@media (min-width: 800px) {
  p {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .hero_wrap {
    width: 80vw;
    height: 35vw;
  }

  main {
    width: 80vw;
  }

  .hero_wrap img {
    object-position: center 65%;
    width: 80vw;
    height: 35vw;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero h2 {
    margin: auto;
    text-align: center;
  }

  .list_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .detail_view {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
  }

  .details p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .details h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .list_grid a {
    display: grid;
  }

  .product_card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
}
